*
!.gitignore
!gs_garden.yaml
!nerf_lego.yaml
!ingp_lego.yaml
!fastergs_dr_ball.yaml
!fastergs_dr_helmet.yaml
!fastergs_dr_teapot.yaml
!fastergs_dr_toaster.yaml
!fastergs_dr_cat.yaml
!fastergs_dr_luyu.yaml
!fastergs_dr_colmap_fal.yaml